spring:
  application:
    name: spring-orders-api

  datasource:
    url: jdbc:postgresql://localhost:5433/orders
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          fetch_size: 100
          batch_size: 40
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
      connection:
        autocommit: false
  
  liquibase:
    enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui
    enabled: true
  api-docs:
    enabled: true